body {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'K2D', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 20px;
    background-color: #f3f3f3;
}

.line {
    height:  90px;
    background-color: #f3f3f3;
    border: solid 2px rgb(83, 71, 77);

}
.frame {
    display: flex;
    justify-content: center;
}
.namegame {
    text-align: center;
}
.startw {
    width: 150px;
}
.scoreboard {
    display: flex;
    justify-content: flex-end;
}
.writeanswer {
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.bodyproposition {
    display: flex;
    justify-content: center;
}
.text {
    text-align: center;
}
.textboxanswer {
    width: 200px;
    font-size: 20px;
}
.position2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 35px;
}


.selected {
    font-size: 1.5rem;
}

@media screen and (max-width: 836px) {
    .proposition {
        font-size: 2rem;
    }

    .selected {
        font-size: 1rem;
    }
}